.Books-section {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    width: 100vw;
    color: white;
}

/* .Custom-card {
    transition: transform 0.5s !important;
} */

/* .Custom-card:hover {
    transform: scale(1.03);
} */