.Main-section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    color: white;
  }
  
  .app-logo {
    margin-bottom: 2vh;
    width: 2vw;
  }